* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.main {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ffff;
  border-radius: 0.8rem;
}
body {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(176deg, rgb(0, 0, 0) 0%, rgb(45, 04, 82) 100%);
}
a {
  color: #ffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .main {
    max-width: 1024px;
    margin: 1rem auto;
  }
  .main::before,
  .main::after {
    width: 70vw;
  }
}
